
:root{
    --Negro: rgba(0, 0, 0, 1);
    --Main: #009c8c;
    --deep_main: #006d62;
    --Dorado: rgb(202, 174, 14);
    --rojo: rgb(202, 14, 14);
    --blanco: rgb(227, 239, 243);
    --fondo_pagina: rgb(202, 202, 202);
    --deep_fondo_pagina: rgb(122, 122, 122);
}

@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('./assets/fonts/ITCEDSCR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Calligraphy';
    src: url('./assets/fonts/LCALLIG.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vivaldi';
    src: url('./assets/fonts/VIVALDII.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
